@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 20px 100px;
	background: linear-gradient(180deg, rgba(8,75,118,1) 0%, rgba(19,124,230,1) 100%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    width: 100%;
    height: 75px;
    text-decoration: none;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;

}

.midle-title{
	background: #ccc;
	background: linear-gradient(90deg,#007cf0, #00dfd8);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 20px;
	color: darkturquoise;
}

.user-post{
	display: flex;
	margin: 30px 250px;
	border: solid thin red;
	align-items: center;
	padding: 10px;
}

.bx{
	margin-left: 10px;
}

.user-post p{
	margin-left: 10px;
	font-size: 1rem;
}

.user-post a {
	text-decoration: none;
	color: #000;
	margin-left: 100px;
}

.user-post a:hover{
	color: #2E86C1;
}

.pie-pagina{
    width: 100%;
    background-color: #2E86C1;
    margin-top: 100%;
}

.pie-pagina .grupo-1{
    width: 100%;
    height: 280px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2E86C1;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #1F618D;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 1rem;
}

