@charset "ISO-8859-1";

.profile-actions button {
    margin: 5px; 
    background-color: #007BFF; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
}

.profile-actions button i {
    font-size: 20px; 
}

.btn--primary {
    background-color: #17a2b8;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-content img {
    max-width: 100%; 
}
.table table-bordered {
    display: inline-block;
    text-align: left;
}

